# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TechTestConsole.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AlexanderShiell\source\TechTestConsole\TechTestConsole\.idea\.idea.TechTestConsole\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
